@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
  background-image: url("./Assets/bg.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.input {
  padding: 15px;
  width: 50%;
  margin: auto;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 3px;
  margin-top: 40px;
}

.city {
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
}

.temp {
  padding-left: 40px;
  font-size: 9rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 40px;
}

.weather {
  font-size: 8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 0;
}

.welcome {
  margin-top: 140px;
  font-size: 2.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  animation: fadeIn 2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s both;
}

.error-msg {
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  animation: fadeIn 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s both;
  margin-top: 0;
}

@media (max-width: 768px) {
  .welcome {
    font-size: 1.9rem;
    text-align: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
